<article id="contents-nav" >
  <!-- config router-->
  <ul class="nav nav-tabs" id="content-tab" role="tablist">
      <li class="nav-item" >
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#/home" ng-click="resetTableLimit()" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="user-tab" data-toggle="tab" href="#/user" ng-click="resetTableLimit()" >User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="product-tab" data-toggle="tab" href="#/product" ng-click="resetTableLimit()" >Product</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="board-tab" data-toggle="tab" href="#/board" ng-click="resetTableLimit()" >Board</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="order-tab" data-toggle="tab" href="#/order" ng-click="resetTableLimit()" >Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="page-tab" data-toggle="tab" href="#/page" ng-click="resetTableLimit()" >page</a>
    </li>
  </ul>
</article>