<meta charset="utf-8">

<div class="form form1">
	<div class="range-search-form">
		<div class="btn-group">
			<button type="button" class="exit-btn" ng-click="closeRangeSearchForm()">X</button>
		</div>
		<div class="title-form">
			<label class="title">Range&nbsp;Search</label>
		</div>
		<div class="dates">
			<!-- start -->
			<label>시작일</label>
			<input type="date" ng-model="startDate" class="form-control" />
			<!-- end -->
			<label>종료일</label>
			<input type="date" ng-model="endDate" class="form-control" />
		</div>
		<!-- button -->
		<div class="btns">
			<button class="btn btn-dark" ng-click="birthDaySearch()">생일</button>
			<button class="btn btn-dark" ng-click="joinDateSearch()">가입일</button>
			<button class="btn btn-dark" ng-click="lastLoginSearch()">마지막로그인</button>
		</div>
	</div>
</div>